<div class="container">
    <div class="row d-flex justify-content-center align-items-center mb-4">
        @for (item of artesanos; track $index) {
        <div class="col-lg-3 col-md-6 col-sm-12">

            <div class="card card-tam mb-4">
                <img class="card-img-top imagen" [src]="item.foto" alt="Product Image" />
                <div class="card-body">
                    <h4 class="card-title">{{ item.nombre }}</h4>
                    <span class="badge mt-2">{{ item.localidad }}</span>
                    <p class="card-text mt-3">{{ item.descripcionTrabajo }}</p>
                </div>
                <div class="d-grid gap-2">
                    <a class="btn btn-primary" routerLinkActive="active" (click)="mostrarVendedor(item.id_artesano)"
                        role="button">
                        Ver Artresano
                    </a>
                </div>
            </div>

        </div>
        }
    </div>
</div>