.imagen{
    max-width: max-content !important;
    max-height: 25vh !important;
    min-width: 100% !important;
    min-height: 25vh !important;
}
.btn{
    background-color: #DF7A25;
    border-color: #DF7A25;
}