<div class="container-fluid mt-2 mb-5">
  <div>
    <a class="btn btn-primary btn-custom" routerLinkActive="active" routerLink="../panelVendedor">Regresar</a>
  </div>
  <div class="row titulo">
    <h5>Agregar producto:</h5>
    <hr class="linea">
  </div>
  <div class="row"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <form [formGroup]="productoForm" (ngSubmit)="agregarProducto()" class="needs-validation" novalidate>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Ingresa el nombre del producto" required />
            <div class="invalid-feedback">Por favor, ingrese el nombre del producto.</div>
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion:</label>
            <textarea class="form-control" formControlName="descripcion" id="descripcion" rows="3" placeholder="Ingresa la descripcion del producto" required></textarea>
            <div class="invalid-feedback">Por favor, ingrese la descripcion del producto.</div>
          </div>
          <div class="mb-3">
            <label for="categoria" class="form-label">Categorias</label>
            <select class="form-select" formControlName="categoria" id="categoria" aria-label="Default select example" required>
              <option selected disabled>Elije la categoria</option>
              <option *ngFor="let cat of categorias" [value]="cat">{{cat}}</option>
            </select>
            <div class="invalid-feedback">Por favor, elija una categoria.</div>
          </div>
          <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad:</label>
            <input type="number" class="form-control" formControlName="cantidad" id="cantidad" placeholder="Ingresa la cantidad de productos" required />
            <div class="invalid-feedback">Por favor, ingrese la cantidad de productos.</div>
          </div>
          <div class="mb-3">
            <label for="urlImagen" class="form-label">URL de la imagen:</label>
            <input type="url" class="form-control" formControlName="urlImagen" id="urlImagen" placeholder="Ingresa la URL de la imagen del producto" required />
            <div class="invalid-feedback">Por favor, ingrese la URL de la imagen.</div>
          </div>
          <div class="mb-3 row">
            <div class="">
              <button type="submit" class="btn btn-primary btn-custom2">Agregar Producto</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-6">
        <div class="image-upload-container">
          <div *ngIf="productoForm.get('urlImagen')?.value" class="image-preview">
            <img [src]="productoForm.get('urlImagen')?.value" alt="Selected Image Preview">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

