<div class="container-fluid">
  <div class="row titulo">
    <h5>Agregar producto:</h5>
    <hr class="linea">
  </div>
  <div class="row">

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="" class="form-label">Nombre:</label>
          <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId"
            placeholder="Ingresa el nombre del producto" />

        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Descripcion:</label>
          <textarea class="form-control" placeholder="Ingresa la descripcion del producto"
            id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleDataList" class="form-label">Categorias</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Elije la categoria</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Cantidad:</label>
          <input type="number" class="form-control" name="" id="" aria-describedby="emailHelpId"
            placeholder="Ingresa la cantidad de productos" />

        </div>
        <div class="mb-3 row">
          <div class="">
            <button onclick="" class="btn btn-primary btn-custom2">Iniciar Sesión</button>
          </div>
        </div>

      </div>

      <div class="col-6">
        <div class="image-upload-container">
          <div class="mb-3" *ngFor="let i of images; index as idx">
            <label for="imageInput{{idx}}" class="form-label">Imagen {{idx + 1}}:</label>
            <div class="custom-file-input">
              <input type="file" (change)="onFileSelected($event, idx)" class="form-control" id="imageInput{{idx}}" name="image{{idx}}" />
              <label class="custom-file-label" for="imageInput{{idx}}">
                <i class="fa fa-upload" aria-hidden="true"></i>
              </label>
            </div>
            <div class="image-preview" *ngIf="imagePreviews[idx]">
              <img [src]="imagePreviews[idx]" alt="Selected Image Preview {{idx + 1}}">
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>

</div>
