<div class="container-fluid">
    <div>
        <a class="btn btn-primary btn-custom" routerLinkActive="active" routerLink="../panelVendedor">Regresar</a>
    </div>
    <div class="row titulo">
        <h5 class="titulo">Productos en venta:</h5>
        <hr class="linea">
    </div>
    @for (prod of productos; track prod.id_producto) {
        <div class="card producto">
            <div class="row">
                <div class="col-4">
                    <img class="card-img-top productoimg" [src]="prod.imagen"  alt="Title" />
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h4 class="card-title tituloProd">{{prod.nombreP}}</h4>
                        <p class="card-text descProd">{{prod.descripcion}}</p>
                        <span
                            class="badge rounded-pill text-bg-dark"
                            >Categoria: {{prod.categoria.nombre_categoria}}</span
                        >
                        <span
                            class="badge rounded-pill text-bg-dark"
                            >Material: {{prod.materiales.nombre_material}}</span
                        >
                        <figure class="figure">
                            <img src="" class="figure-img img-fluid rounded" alt="" />
                            <figcaption
                                class="figure-caption text-start"
                            >
                                {{prod.historia}}
                            </figcaption>
                        </figure>
                        
                        
                    </div>
                </div>
                <div class="col-2">
                    <div class="card-body">
                        <a class="accion" (click)="editarProducto(prod)"> <p class="card-title iconosVisibles">Editar <i class="fa fa-edit" aria-hidden="true"></i></p><i class="fa fa-edit iconoOculto" aria-hidden="true"></i> </a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card-body">
                        <a href="" class="accion"><p class="card-title iconosVisibles">Eliminar <i class="fa fa-trash" aria-hidden="true"></i></p><i class="fa fa-trash iconoOculto" aria-hidden="true"></i></a>
                    </div>
                </div>
                
            </div>
            <div>
    
            </div>
            
        </div>
    }
    
    

</div>