.titulo {
    align-items: center;
    text-align: center;
    margin: 5vh auto;
    font-size: 3vh;
    font-weight: bold;
    color: #333;
}

.iconoOculto {
    display: none;
}

.accion {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}

.accion:hover {
    color: #DF7A25;
}

.btn-custom2 {
    background-color: #DF7A25;
    color: #ffffff;
    border-color: #ffffff;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 4vh;
}

.btn-custom {
    background-color: #DF7A25;
    color: #ffffff;
    border-color: #DF7A25;
}

.btn-custom2:hover {
    color: #DF7A25;
    background-color: #fff;
    border-color: #DF7A25;
}

.producto {
    text-align: left;
    margin: 2vh 4vw;
    background-color: rgba(233, 150, 90, 0.5);
    padding: 2vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: translateY(-5px);
}

.tituloProd {
    font-size: 2.5vh;
    font-weight: bold;
    color: #333;
}

.descProd {
    font-size: 2vh;
    color: #666;
}

.productoimg {
    width: 10vw;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.historia{
    margin-top: 2vh;
}

@media (max-width: 855px) {
    .iconoOculto {
        display: flex;
    }
    .iconosVisibles {
        display: none;
    }
    .productoimg {
        width: 20vw;
    }
    .tituloProd {
        font-size: 3vh;
    }
    .descProd {
        font-size: 2.5vh;
    }
}

.badge {
    margin-top: 1vh;
}

.figure-caption {
    font-size: 1.5vh;
    color: #555;
    margin-top: 1vh;
}
