<div class="container-fluid">
    <div>
        <a class="btn btn-primary btn-custom" routerLinkActive="active" routerLink="/productos">Regresar</a>
    </div>
    <div class="card producto">
        <div class="row">
            <div class="col-5">
                <img class="card-img-top productoimg" src="https://i5.walmartimages.com.mx/mg/gm/3pp/asr/37bc4f9f-7b30-4c8f-b5ab-1530956d0781.0c451c492f39a316654bdbd0c0c18d4f.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="Title" />
            </div>
            <div class="col-7">
                <div class="card-body">
                    <h2 class="card-title tituloProd">Producto Nombre</h2>
                    <p class="card-text descProd">Descripcion: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius molestiae blanditiis quod nobis adipisci. Nemo quis iste consequatur fuga dolor dicta quidem at atque accusamus magni cumque, voluptas illum cupiditate!</p>
                    <p class="card-text descProd">Historia: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem recusandae pariatur alias neque repudiandae obcaecati possimus provident consectetur tenetur optio. Harum dolorum amet dolor quisquam minima maiores fuga nihil laboriosam!</p>
                    <p class="card-text descProd">Material: Carrizo</p>

                    <span
                        class="badge bg-success"
                        >$250.00</span
                    >
                    
                </div>
                <div class="d-grid gap-2">
                    <button
                        type="button"
                        name=""
                        id=""
                        class="btn btn-primary"
                    >
                        COMPRAR <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    </button>
                </div>
                
            </div>
        </div>
        
    </div>
    
    

</div>