.titulo {
    align-items: center;
    text-align: center;
    margin: auto+5vh;
    font-size: 4vh;
}
.iconoOculto{
    display: none;
}
.accion{
    text-decoration: none;
    color: black;
}
.btn-custom2 {
    background-color: #DF7A25;
    color: #ffffff;
    border-color: #ffffff;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 4vh;
}

.btn-custom {
    background-color: #DF7A25;
    color: #ffffff;
    border-color: #DF7A25;

}

.btn-custom2:hover {
    color: #DF7A25;
    background-color: #fff;
    border-color: #DF7A25
}



.producto {
    text-align: left;
    margin-left: 4vw;
    margin-right: 4vw;
    background-color: #ffffff80 ;
    padding-top: 1vh;
    padding-bottom: 1vh;
    
}

.tituloProd{
    font-size: 6vh;
}
.descProd{
    font-size: 3vh;
}
.badge{
    font-size: 5vh;
}


.productoimg {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}


.btn{
    background-color: #DF7A25;
    border-color: #DF7A25;
}



@media (max-width: 855px) {
    .iconoOculto{
        display: flex;
    }
    .iconosVisibles{
        display: none;
    }
  }
  