<div class="fondo vh-90" >
  <div class="row">
    <div class="col-lg-5 col-md-6" style="height: 100%;">
      <div class="formulario vh-100">
        <div class="form">
          <div class="titulo">
            <img src="assets/img/SustentArte_Logo.png" alt="SustentArte Logo" class="imagen2" />
            <h4>Iniciar Sesión</h4>
          </div>
          <div class="container">
            <form>
              <div class="row">
                <label for="inputName" class="col-sm-4 col-form-label">Correo</label>
                <div class="col-12">
                  <div class="container">
                    <div class="row">
                      <div
                        class="col-11"
                      >
                      <input type="text" class="form-control input" name="inputName" id="inputName" placeholder="Ingresa tu correo" />
                      </div>
                      <div
                        class="col-1 mt-2"
                      >
                      <i class="fas fa-mail-bulk"></i>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
              <div class="mb-3 row">
                <div>
                  <label for="inputName" class="col-sm-4 col-form-label">Contraseña</label>
                </div>
                <div class="col-sm-12">
                  <div class="container">
                    <div class="row">
                      <div
                        class="col-11"
                      >
                      <input type="text" class="form-control input" name="inputName" id="inputName" placeholder="Ingresa tu contraseña" />
                      </div>
                      <div
                        class="col-1 mt-2"
                      >
                      <i class="fa fa-key" aria-hidden="true"></i>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="">
                  <button onclick="" class="btn btn-primary btn-custom2">Iniciar Sesión</button>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="">
                  <button onclick="" class="btn btn-primary btn-custom">Registrarse</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-6 d-flex imagenCol" style="background-color: #F8CB97;">
      <img src="assets/img/SustentArte_Logo.png" alt="SustentArte Logo" class="imagen" style="margin-bottom: 10%;"/>
    </div>
  </div>
</div>
