<div class="container-fluid">
    <div>
        <a class="btn btn-primary btn-custom" routerLinkActive="active" routerLink="../panelVendedor">Regresar</a>
    </div>
    <div class="row titulo">
        <h5 class="titulo">Productos comprados:</h5>
        <hr class="linea">
    </div>
    <div class="card producto">
        <div class="row">
            <div class="col-4">
                <img class="card-img-top productoimg" src="https://http2.mlstatic.com/D_NQ_NP_886533-MLM54181486806_032023-O.webp" alt="Title" />
            </div>
            <div class="col-4">
                <div class="card-body">
                    <h4 class="card-title tituloProd">Producto Nombre</h4>
                    <p class="card-text descProd">Descripcion</p>
                </div>
            </div>
            <div class="col-2">
                <div class="card-body">
                    <a href="" class="accion"><p class="card-title iconosVisibles">Ver detalles <i class="fa fa-eye" aria-hidden="true"></i></p><i class="fa fa-eye iconoOculto" aria-hidden="true"></i></a>
                </div>
            </div>
            
        </div>
        <div>

        </div>
        
    </div>
    
    

</div>