<div class="container">
    <h1>Carrito de compras</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Producto</th>
                <th>Nombe</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="fondoTabla">
            @if (cart.length > 0) {
                @for (producto of cart; track producto.id_producto) {
                    <tr>
                    
                    <td><img [src]="producto.imagen" width="120px"></td>
                    <td>{{producto.nombreP}}</td>
                    <td>{{ producto.precio_Venta| currency: 'MXN' }}</td>
                    <td>
                        <input class="form-control" type="number" min="1" [defaultValue]="1" disabled  />
                    </td>
                    <td>
                        <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</button>
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>
    <p class="total">Total: {{ total | currency: 'MXN' }}</p>
    <button class="btn btn-primary">Realizar pedido</button>
</div>
