<div class="container-fluid">
    <div>
        <a class="btn btn-primary btn-custom" routerLinkActive="active" routerLink="../panelVendedor">Regresar</a>
    </div>
    <div class="row titulo">
        <h5 class="titulo">Productos vendidos:</h5>
        <hr class="linea">
    </div>
    <div class="card producto">
        <div class="row">
            <div class="col-8">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title tituloProd">Pedido #1</h4>
                            <p class="card-text descProd">aldo</p>
                            <p>buena mira 102 oaxaca</p>
                        </div>
                        <div class="col">
                            <h4 class="card-title tituloProd">En proceso</h4>
                            <p class="card-text descProd">camisa de tela</p>
                            <p>1</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img class="card-img-top productoimg"
                    src="https://images.pexels.com/photos/5602996/pexels-photo-5602996.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Title" />
            </div>
            <div>
            </div>
        </div>
    </div>