<div class="container-fluid">
    <div>
        <a class="btn btn-primary btn-custom" routerLinkActive="active" routerLink="../panelVendedor">Regresar</a>
    </div>
    <div class="row titulo">
        <h5 class="titulo">Productos en venta:</h5>
        <hr class="linea">
    </div>
    <div class="card producto">
        <div class="row">
            <div class="col-8">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title tituloProd">Pedido #1</h4>
                            <p class="card-text descProd">Nombre del Comprador</p>
                            <p>Direccio del comprador</p>
                        </div>
                        <div class="col">
                            <h4 class="card-title tituloProd">Estado de la venta</h4>
                            <p class="card-text descProd">Nombre del producto</p>
                            <p>Cantidad</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img class="card-img-top productoimg"
                    src="https://http2.mlstatic.com/D_NQ_NP_886533-MLM54181486806_032023-O.webp" alt="Title" />
            </div>
            <div>
            </div>
        </div>
    </div>