
<div class="container-fluid fondo  flex-column justify-content-center align-items-center">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1>Bienvenido "Administrador"</h1>
    </div>
  </div>
  <div class="row  align-items-center g-2">
    <div class="col-lg-6 col-md-6 col-sm-12 justify-content-center align-items-center g-2">
      <a class="nav-link active" routerLinkActive="active" routerLink="../vendedoresAdmin" aria-current="page">
        <div class="card justify-content-center align-items-center cardleft">
          <img class="card-img-top" src="assets/img/VerVendedor.png" style="width: 300px; height: 300px;"
            alt="CreateVendedor.png" />
          <div class="card-body">
            <h4 class="card-title">VER ARTESANOS</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 justify-content-center align-items-center g-2">
      <a class="nav-link active" routerLinkActive="active" routerLink="../crearArtesano" aria-current="page">
        <div class="card justify-content-center align-items-center cardleft">
          <img class="card-img-top" src="assets/img/CreateVendedor.png" style="width: 300px; height: 300px;"
            alt="CreateVendedor.png" />
          <div class="card-body">
            <h4 class="card-title">AGREGAR ARTESANO</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
  
</div>