<div class="container-fluid fondo d-flex flex-column justify-content-center align-items-center">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1>Bienvenido "Administrador"</h1>
    </div>
  </div>
  <div class="row align-items-center g-2">
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center carta">
      <a class="nav-link active" routerLinkActive="active" routerLink="../vendedoresAdmin" aria-current="page">
        <div class="card justify-content-center align-items-center cardleft">
          <img class="card-img-top" src="assets/img/VerVendedor.png" alt="Ver Vendedor" />
          <div class="card-body">
            <h4 class="card-title">VER ARTESANOS</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center carta">
      <a class="nav-link active" routerLinkActive="active" routerLink="../crearArtesano" aria-current="page">
        <div class="card justify-content-center align-items-center cardleft">
          <img class="card-img-top" src="assets/img/CreateVendedor.png" alt="Crear Vendedor" />
          <div class="card-body">
            <h4 class="card-title">AGREGAR ARTESANO</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center carta">
      <a class="nav-link active" routerLinkActive="active" routerLink="../agregarMaterial" aria-current="page">
        <div class="card justify-content-center align-items-center cardleft">
          <img class="card-img-top" src="assets/img/CreateVendedor.png" alt="Agregar Material" />
          <div class="card-body">
            <h4 class="card-title">AGREGAR MATERIAL</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center carta">
      <a class="nav-link active" routerLinkActive="active" routerLink="../verCategorias" aria-current="page">
        <div class="card justify-content-center align-items-center cardleft">
          <img class="card-img-top" src="assets/img/material.png" alt="Ver Categorias" />
          <div class="card-body">
            <h4 class="card-title">VER CATEGORIA</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center carta">
      <a class="nav-link active" routerLinkActive="active" routerLink="../agregarCategoria" aria-current="page">
        <div class="card justify-content-center align-items-center cardleft">
          <img class="card-img-top" src="assets/img/CreateVendedor.png" alt="Agregar Categoria" />
          <div class="card-body">
            <h4 class="card-title">AGREGAR CATEGORIA</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center carta">
      <a class="nav-link active" routerLinkActive="active" routerLink="../verMateriales" aria-current="page">
        <div class="card justify-content-center align-items-center cardleft">
          <img class="card-img-top" src="assets/img/categoria.png" alt="Ver Materiales" />
          <div class="card-body">
            <h4 class="card-title">VER MATERIALES</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
