<div class="container-fluid">
  <div class="row titulo">
      <h4 class="titulo">Información del Perfil:</h4>
      <hr class="linea">
  </div>
  <form class="formulario">
      <!-- Primera fila -->
      <div class="row">
          <div class="col-4">
              <div class="form-group">
                  <label for="name">Nombre:</label>
                  <input type="text" class="form-control input" id="name" name="name" placeholder="Nombre">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group">
                  <label for="firstname">Primer Apellido:</label>
                  <input type="text" class="form-control input" id="firstname" name="firstname" placeholder="Primer Apellido">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group">
                  <label for="lastname">Segundo Apellido:</label>
                  <input type="text" class="form-control input" id="lastname" name="lastname" placeholder="Segundo Apellido">
              </div>
          </div>
      </div>
      <!-- Segunda fila -->
      <div class="row">
          <div class="col-6">
              <div class="form-group">
                  <label for="telefono">Teléfono:</label>
                  <input type="text" class="form-control input" id="telefono" name="telefono" placeholder="Teléfono">
              </div>
          </div>
          <div class="col-6">
              <div class="form-group">
                  <label for="correo">Correo Electrónico:</label>
                  <input type="email" class="form-control input" id="correo" name="correo" placeholder="Correo Electrónico">
              </div>
          </div>
      </div>
      <!-- Tercera fila -->
      <div class="row">
          <div class="col-4">
              <div class="form-group">
                  <label for="ciudad">Ciudad:</label>
                  <input type="text" class="form-control input" id="ciudad" name="ciudad" placeholder="Ciudad">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group">
                  <label for="estado">Estado:</label>
                  <input type="text" class="form-control input" id="estado" name="estado" placeholder="Estado">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group">
                  <label for="codigoPostal">Código Postal:</label>
                  <input type="text" class="form-control input" id="codigoPostal" name="codigoPostal" placeholder="Código Postal">
              </div>
          </div>
      </div>
      <!-- Cuarta fila -->
      <div class="row">
          <div class="col-4">
              <div class="form-group">
                  <label for="calle">Calle:</label>
                  <input type="text" class="form-control input" id="calle" name="calle" placeholder="Calle">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group">
                  <label for="colonia">Colonia:</label>
                  <input type="text" class="form-control input" id="colonia" name="colonia" placeholder="Colonia">
              </div>
          </div>
          <div class="col-4">
              <div class="form-group">
                  <label for="numCasa">Número de Casa:</label>
                  <input type="text" class="form-control input" id="numCasa" name="numCasa" placeholder="Número de Casa">
              </div>
          </div>
      </div>
      <!-- Botón de guardar -->
      <div class="row">
          <div class="col-12 text-center">
              <button type="submit" class="btn btn-custom-guardar">Guardar</button>
          </div>
      </div>
  </form>
</div>
