<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-md-6">
      <div class="formulario">
        <div class="titulo">
          <h4>Perfil</h4>
        </div>

        <div class="container">
          <div class="row">

            <div class="input-name input">
              <label class="name text">name</label>
            </div>

            <div class="row">
              <div class="input-firstname input"> 
                <label class="firstname text">firstname</label>
              </div>
            </div>

            <div class="row">
              <div class="input-lastname input">
                <label class="lastname text">lastname</label>
              </div>
            </div>

            <div class="row">
              <div class="input-correo input">
                <label class="correo text">correo</label>
              </div>
            </div>

            <div class="row">
              <div class="input-telefono input">
                <label class="telefono text">telefono</label>
              </div>
            </div>

            <div class="row">
              <div class="input-ciudad input">
                <label class="ciudad text">ciudad</label>
              </div>
            </div>

            <div class="row">
              <div class="input-estado input">
                <label class="estado text">estado</label>
              </div>
            </div>

            <div class="row">
              <div class="input-cp input">
                <label class="cp text">codigo postal</label>
              </div>
            </div>

            <div class="row">
              <div class="input-colonia input">
                <label class="colonia text">colonia</label>
              </div>
            </div>

            <div class="row">
              <div class="input-calle input">
                <label class="calle text">calle</label>
              </div>
            </div>

            <div class="row">
              <div class="input-numerocasa input">
                <label class="numerocasa text">numero de casa</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
