<div class="container mt-2 mb-5">
    <div class="row justify-content-center mb-3">
        <div class="col-1 text-center">
            <a class="btn btn-danger btn-sm" href="panelAdmin" role="button">Regresar</a>
        </div>
        <div class="col-11 text-center">
            <h1>Agregar Categoría <i class="fa-solid fa-folder-plus"></i></h1>
        </div>
    </div>
    <form [formGroup]="formCategoria" (ngSubmit)="agregarCategoria()" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="nombreCat">Nombre de la Categoría</label>
            <input id="nombreCat" formControlName="nombreCat" class="form-control" required>
            <div class="invalid-feedback">Por favor, ingrese el nombre de la categoría.</div>
        </div>
        <div class="form-group">
            <label for="matCategoria">Material de la Categoría</label>
            <input id="matCategoria" formControlName="matCategoria" class="form-control" required>
            <div class="invalid-feedback">Por favor, ingrese el material de la categoría.</div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Agregar Categoría</button>
    </form>
</div>
