<div class="container-fluid">
  <div class="row justify-content-center align-items-center g-2">
    <div
      class="col-4"
    >
      <h1>Bienvenido Vendedor</h1>
    </div>
  </div>
  <div
    class="row justify-content-center align-items-center g-2"
  >
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-6"
      >
        <div
          class="card border-success justify-content-center align-items-center cardright"
        >
          <img class="card-img-top " src="assets/img/CreateVendedor.png" style="width: 300px; height: 300px;" alt="CreateVendedor.png" />
          <div class="card-body">
            <h4 class="card-title">AGREGAR PRODUCTO</h4>
          </div>
        </div>

      </div>
      <div
        class="col-6"
      >
        <div
          class="card border-info justify-content-center align-items-center cardright"
        >
          <img class="card-img-top " src="assets/img/EditVendedor.png" style="width: 300px; height: 300px;" alt="CreateVendedor.png" />
          <div class="card-body">
            <h4 class="card-title">EDITAR PRODUCTO</h4>
          </div>
        </div>
      </div>
      <div
        class="col-6 "
      >
        <div
          class="card border-info justify-content-center align-items-center cardleft"
        >
          <img class="card-img-top " src="assets/img/VerVendedor.png" style="width: 300px; height: 300px;" alt="CreateVendedor.png" />
          <div class="card-body">
            <h4 class="card-title">VER PRODUCTO</h4>
          </div>
        </div>
      </div>

      <div
        class="col-6 "
      >
        <div
          class="card border-info justify-content-center align-items-center cardleft"
        >
          <img class="card-img-top " src="assets/img/DeleteVendedor.jpeg" style="width: 300px; height: 300px;" alt="CreateVendedor.png" />
          <div class="card-body">
            <h4 class="card-title">ELIMINAR PRODUCTO</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>

