
.textContainer{
  margin: 50vw;
}
.imagen{
  width: 100vw;
  height: 40% !important;
}

.textContainer {
  margin-top: 5vw; /* Ajusta el margen superior según sea necesario */
  margin-bottom: 5vw; /* Ajusta el margen inferior según sea necesario */
}

.contenedor {
  margin-bottom: 5vw; /* Ajusta el margen inferior según sea necesario */
}

.texto{
  font-size: 1.5svw;
}
.fraseContainer{
  align-items: center;
  text-align: center;
  margin: 8vw;
}

/* Media queries */
@media (max-width: 1500px) {
  .texto{
    font-size: 2.5svw;
  }
}
@media (max-width: 900px) {
  .texto{
    font-size: 3svw;
  }
}

@media (max-width: 500px) {
  .texto{
    font-size: 4svw;
  }
}
