<div class="container mt-2 mb-5">
    <div class="row justify-content-center mb-3">
        <div class="col-1 text-center">
            <a class="btn btn-danger btn-sm" href="panelAdmin" role="button">Regresar</a>
        </div>
        <div class="col-11 text-center">
            <h1>Crear Artesano <i class="fa-solid fa-folder-plus"></i></h1>
        </div>
    </div>
    <form [formGroup]="formArtesano" (ngSubmit)="crearArtesano()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input id="nombre" formControlName="nombre" class="form-control">
        </div>
        <div class="form-group">
            <label for="apPat">Apellido Paterno</label>
            <input id="apPat" formControlName="apellidoPaterno" class="form-control">
        </div>
        <div class="form-group">
            <label for="apMat">Apellido Materno</label>
            <input id="apMat" formControlName="apellidoMaterno" class="form-control">
        </div>
        <div class="form-group">
            <label for="correo">Correo</label>
            <input id="correo" formControlName="correo" type="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" formControlName="password" type="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="descripcion_Trabajo">Descripción del Trabajo</label>
            <input id="descripcion_Trabajo" formControlName="descripcionTrabajo" class="form-control">
        </div>
        <div class="form-group">
            <label for="xp_Textil">Experiencia Textil</label>
            <input id="xp_Textil" formControlName="xp_textil" class="form-control">
        </div>
        <div class="form-group">
            <label for="tec_Artesanales">Técnicas Artesanales</label>
            <input id="tec_Artesanales" formControlName="tec_artesanales" class="form-control">
        </div>
        <div class="form-group">
            <label for="reconocimientos">Reconocimientos</label>
            <input id="reconocimientos" formControlName="reconocimientos" class="form-control">
        </div>
        <div class="form-group">
            <label for="foto">Foto</label>
            <input id="foto" formControlName="foto" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="localidad">Localidad</label>
            <input id="localidad" formControlName="localidad" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Crear Artesano</button>
    </form>
</div>
