<div class="container mt-2 mb-5">
    <div class="row justify-content-center mb-3">
        <div class="col-1 text-center">
            <a class="btn btn-danger btn-sm " href="panelAdmin" role="button"> Regresar</a>
        </div>
        <div class="col-11 text-center">
            <h1>Crear Artesano <i class="fa-solid fa-folder-plus"></i></h1>
        </div>
    </div>
    <form>
        <div class="mb-3 row">
            <label for="nombre" class="col-md-4 col-form-label text-md-end">Nombre</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="inputName" id="nombre"
                    placeholder="Ingresar nombre de artesano" />
            </div>
        </div>
        <div class="mb-3 row">
            <label for="apPat" class="col-md-4 col-form-label text-md-end">Apellido Paterno</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="inputName" id="apPat"
                    placeholder="Ingresar apellido Paterno" />
            </div>
        </div>
        <div class="mb-3 row">
            <label for="apMat" class="col-md-4 col-form-label text-md-end">Apellido Materno</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="inputName" id="apMat"
                    placeholder="Ingresar apellido Materno" />
            </div>
        </div>
        <div class="mb-3 row">
            <label for="correo" class="col-md-4 col-form-label text-md-end">Correo</label>
            <div class="col-md-8">
                <input type="email" class="form-control" name="inputName" id="correo" placeholder="Ingresar correo" />
            </div>
        </div>
        <div class="mb-3 row">
            <label for="password" class="col-md-4 col-form-label text-md-end">Contraseña</label>
            <div class="col-md-8">
                <input type="password" class="form-control" name="inputName" id="password"
                    placeholder="Ingresar contraseña" />
            </div>
        </div>
        <div class="mb-3 row">
            <label for="descripcion_Trabajo" class="col-md-4 col-form-label text-md-end">Información de trabajo</label>
            <div class="col-md-8">
                <textarea class="form-control" name="" id="descripcion_Trabajo" rows="3"
                    placeholder="Describir trabajo"></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="xp_Textil" class="col-md-4 col-form-label text-md-end">Experiencia Textil</label>
            <div class="col-md-8">
                <textarea class="form-control" name="" id="xp_Textil" rows="3"
                    placeholder="Describir experiencia textil"></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="tec_Artesanales" class="col-md-4 col-form-label text-md-end">Técnicas Artesanales</label>
            <div class="col-md-8">
                <textarea class="form-control" name="" id="tec_Artesanales" rows="3"
                    placeholder="Describir técnicas artesanales"></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="reconocimientos" class="col-md-4 col-form-label text-md-end">Reconocimientos</label>
            <div class="col-md-8">
                <textarea class="form-control" name="" id="reconocimientos" rows="3"
                    placeholder="Describir reconocimientos"></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="foto" class="col-md-4 col-form-label text-md-end">Foto</label>
            <div class="col-md-8">
                <input type="url" class="form-control" name="inputName" id="foto"
                    placeholder="Ingresar URL de la foto" />
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Agregar Artesano</button>
        </div>
    </form>
</div>