<div class="container screen">
  <div class="row justify-content-center align-items-center g-2">
    <div
      class="col-4"
    >
      <h1>Bienvenido Administrador</h1>
    </div>
  </div>
  <div
    class="row justify-content-center align-items-center g-2"
  >
  <div class="container-fluid">
    <div class="row">

      <div class="col-6 "
      >
        <div
          class="card border-info justify-content-center align-items-center cardleft"
        >
          <img class="card-img-top " src="assets/img/VerVendedor.png" style="width: 300px; height: 300px;" alt="CreateVendedor.png" />
          <div class="card-body">
            <h4 class="card-title">VER VENDEDORES</h4>
          </div>
        </div>
      </div>
      <div class="col-6"
      >
        <div
          class="card border-info justify-content-center align-items-center cardright"
        >
          <img class="card-img-top " src="assets/img/EditVendedor.png" style="width: 300px; height: 300px;" alt="CreateVendedor.png" />
          <div class="card-body">
            <h4 class="card-title">ELIMINAR VENDEDORES</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>

