.logout {
    background-color: #E58A56;
    border-radius: 5px;
    border-color: white;
    display: inline-block;
    width: auto; /* Ajusta automáticamente al texto */
    height: 45px;
    padding: 6px 12px; /* Añade un poco de rellesno alrededor del texto */
    margin: 0; /* Elimina el margen para evitar espacios innecesarios */
}