<div class="contenedor" style="height: 11..3vw;">
  <div class="container-fluid mt-0">
      <div class="row">
          <div
              class="col-4"
          >
              <h4>SUSTENTARTE</h4>
              <h5>"Vive una vida sustentable"</h5>
          </div>
          <div
              class="col-2"
          >

          </div>
          <div
              class="col-6"
          >
              <div class="container-fluid">
                  <div class="row mt-4 mr">
                  <div
                          class="col-6 "
                      >
                          <h5 style="textAlign: right;">Contactanos en:</h5>
                      </div>
                      <div
                          class="col-1"
                      >
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </div>
                      <div
                          class="col-1"
                      >
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </div>
                      <div
                          class="col-1"
                      >
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
